.start-component {
    background-size: cover;
    margin: 20px 0;
    position: relative;
}
.start-component img {
    width: 100%;
    height: 100%;
}

.start-text {
    width: 40%;
    position: absolute;
    top: 0;
    left: 10px;
    color: white;
    font-size: 22px;
}